body{
    background-color: rgb(235, 235, 235);
}

.completado {
    background-color: darkseagreen;
}

.atrasado {
    background-color: rgb(215, 74, 74);
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #000;
}

th {
    border: 1px solid #000;
}

td {
    border: 1px solid #000;
}
