<!DOCTYPE html>
<html>
<head>
    <title>App Gestion de tareas</title>
</head>
<body>
    <h1>Lista de tareas</h1>
    <ul>
        {% for tarea in tareas %}
            <li>
                <strong>{{ tarea.titulo }}</strong> - {{ tarea.estado }}
                <a href="{{ url_for('editar_tarea', index=loop.index0) }}">Edit</a>
                <a href="{{ url_for('borrar_tarea', index=loop.index0) }}">Delete</a>
            </li>
        {% endfor %}
    </ul>

    <h2>Agregar Tarea</h2>
    <form action="/agregar_tarea" method="POST">
        <label for="titulo">Titulo:</label>
        <input type="text" name="titulo" required><br>
        <label for="descripcion">Descripcion:</label>
        <input type="text" name="descripcion"><br>
        <label for="vencimiento">Vencimiento:</label>
        <input type="date" name="vencimiento"><br>
        <label for="estado">Estado:</label>
        <select name="estado">
            <option value="pendiente">Pendiente</option>
            <option value="en progreso">En Progreso</option>
            <option value="completado">Completado</option>
            <option value="cancelado">Cancelado</option>
            <option value="atrasado">Atrasado</option>
        </select><br>
        <button type="submit">Agregar Tarea</button>
    </form>
</body>
</html>
