{% extends "base.html" %}

{% block head %}
<title>App Gestion de tareas</title>
{% endblock %}

{% block body %}
<h1>Lista de tareas</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Vencimiento</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for tarea in tareas %}
            <tr>
                <td>{{ tarea.titulo }}</td>
                <td>{{ tarea.descripcion[:20] + '...' if tarea.descripcion|length > 20 else tarea.descripcion }}</td>
                <td class="{% if tarea.vencimiento < current_date %}atrasado{% endif %}">{{ tarea.vencimiento.strftime('%Y-%m-%d') }}</td>
                <td class="{% if tarea.estado == 'Completado' %}completado{% endif %}">{{ tarea.estado }}</td>
                <td>
                    <button class="btn btn-primary" onclick="window.location.href='{{ url_for('editar_tarea', id=tarea.id) }}'">Editar</button>
                    <button class="btn btn-primary" onclick="window.location.href='{{ url_for('borrar_tarea', id=tarea.id) }}'">Borrar</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br />
<button class="btn btn-primary" onclick="window.location.href='{{ url_for('agregar_tarea') }}'">Agregar tarea</button>
{% endblock %}
